{% extends 'base.html' %}

{% block content %}

<br>
<div class="chats-container">
    <h1>Chat Rooms</h1>
    <br>


    {% for user in users %}
    {% if not user.is_superuser %}
    {% if user != request.user %}

    <div class="msg-row-container">
        <img class="msg-picture" src="{{ user.profile.profile_picture.url }}" alt="">
        <a href="{% url 'chat_room' user.username %}">
            <p type="button" class="btn btn-warning">{{ user.username }}</p>
        </a>
    </div>

    {% endif %}
    {% endif %}
    {% endfor %}

</div>

{% endblock %}